{
  "openapi": "3.0.1",
  "info": {
    "title": "InEight InEight Application v1 Direct API",
    "contact": {
      "name": "Customer Support",
      "url": "https://Ryvit.com",
      "email": "support@Ryvit.com"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.xchange.trimble.com/connect/v1/",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/direct/actions/{action_key_value}": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Get an Action instance.",
        "operationId": "GET /direct/actions/{action_key_value}",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "$ref": "#/components/parameters/action_key_value"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Action Identifier"
                    },
                    "data": {
                      "type": "object",
                      "description": "Contains the input object to the Action POST call."
                    },
                    "dataObjectCode": {
                      "type": "string",
                      "description": "Data Object Code"
                    },
                    "actionCode": {
                      "type": "string",
                      "description": "Action Code"
                    },
                    "subscriberCode": {
                      "type": "string",
                      "description": "Subscriber Code"
                    },
                    "createdUtc": {
                      "type": "string",
                      "description": "Action Created Date"
                    },
                    "status": {
                      "enum": [
                        "Queued",
                        "Processing",
                        "Failed",
                        "Successful"
                      ],
                      "type": "string",
                      "description": "Action Status"
                    },
                    "result": {
                      "type": "string",
                      "description": "This object definition is defined on each Action POST.  See Responses: \"x-$.result for Successful\" and \"x-$.result for Failed\" for the specific action based on the $.dataObjectCode and $.actionCode properties."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Gets all Employees objects from the cache.",
        "description": "InEight employee data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "$ref": "#/components/parameters/limit_continuation"
          },
          {
            "$ref": "#/components/parameters/modifiedUTCSince"
          },
          {
            "$ref": "#/components/parameters/continuationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "limit",
                    "data",
                    "next",
                    "continuationToken"
                  ],
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/data_employees_withKeys"
                      }
                    },
                    "next": {
                      "type": "string"
                    },
                    "continuationToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/search": {
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Search through Employees objects in the data cache",
        "description": "InEight employee data object.",
        "operationId": "POST /direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/search/search",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "modifiedUtcAfter": {
                    "maxLength": 28,
                    "minLength": 28,
                    "type": "string",
                    "description": "Returns objects that were modified after the specified date (ISO 8601 format).  Format: yyyy-MM-ddThh:mm:ss.fffffffZ.  Example '2019-12-11T20:16:58.3419275Z'.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set.",
                    "format": "date-time"
                  },
                  "modifiedUtcBefore": {
                    "maxLength": 28,
                    "minLength": 28,
                    "type": "string",
                    "description": "Returns objects that were modified before the specified date (ISO 8601 format).  Format: yyyy-MM-ddThh:mm:ss.fffffffZ.  Example '2019-12-11T20:16:58.3419275Z'.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set.",
                    "format": "date-time"
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Supplying this token will result in retrieving the next chunk of data if the first request contained more than 100 (up to) records or greater than 1 megabyte in size.  On your first call, you must omit or provide an empty string.  On subsequent calls, provide the continuationToken from the previous result."
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "integer",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "GreaterThan",
                                "GreaterThanOrEqual",
                                "LessThan",
                                "LessThanOrEqual",
                                "NotEqual"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "string",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "GreaterThan",
                                "GreaterThanOrEqual",
                                "LessThan",
                                "LessThanOrEqual",
                                "NotEqual",
                                "Like",
                                "EndsWith",
                                "StartsWith",
                                "Contains"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "boolean",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "NotEqual"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "description": " This oneOf option is to be used for null values for all data types.  You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "In"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        }
                      ]
                    },
                    "description": "All provided filters are combined with AND conditions. E.g. filter1 AND filter2 AND filter3.  Not providing a filter will result in an unfiltered result.  Filtering can be performed on nested object properties but can not be performed on array item properties.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/data_employees_withKeys"
                      }
                    },
                    "continuationToken": {
                      "type": "string",
                      "description": "Supply this token on the next request to get the next chunk of data. This will have a value if the result set contains more than 100 records or the set is greater than 1 megabyte."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/{ryvitId_value}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Gets one Employees object from the cache.",
        "description": "InEight employee data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/{ryvitId_value}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "ryvitId_value",
            "in": "path",
            "description": "The code of the data object you want to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_employees_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/__ryvitId/{ryvitId_value}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Gets one Employees object from the cache.",
        "description": "InEight employee data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/__ryvitId/{ryvitId_value}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "ryvitId_value",
            "in": "path",
            "description": "The code of the data object you want to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_employees_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/EmployeeId/{EmployeeId}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Gets one Employees object from the cache.",
        "description": "InEight employee data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/EmployeeId/{EmployeeId}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "EmployeeId",
            "in": "path",
            "description": "The EmployeeId portion of the key used to identify the object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_employees_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/SourceSystemId/{SourceSystemId}": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Gets one Employees object from the cache.",
        "description": "InEight employee data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/cache/SourceSystemId/{SourceSystemId}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "SourceSystemId",
            "in": "path",
            "description": "The SourceSystemId portion of the key used to identify the object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_employees_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/actions/upsert": {
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Executes the Update or insert action for the Employees data object.",
        "description": "Add or update InEight employees.",
        "operationId": "POST /direct/subscribers/{subscriber_code}/ineight/app/1/data/employees/actions/upsert",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Employees": {
                    "type": "array",
                    "items": {
                      "required": [
                        "SourceSystemId",
                        "CraftId",
                        "EmployeeId",
                        "FirstName",
                        "LastName",
                        "CanReportTime",
                        "CurrencyCode",
                        "UoMName"
                      ],
                      "type": "object",
                      "properties": {
                        "CraftId": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "VendorCode": {
                          "maxLength": 50,
                          "type": "string",
                          "nullable": true
                        },
                        "EmployeeId": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "FirstName": {
                          "maxLength": 100,
                          "type": "string"
                        },
                        "LastName": {
                          "maxLength": 100,
                          "type": "string"
                        },
                        "IsActive": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "EmployeePIN": {
                          "maxLength": 64,
                          "type": "string",
                          "nullable": true,
                          "writeOnly": true
                        },
                        "CanReportTime": {
                          "type": "boolean"
                        },
                        "Language": {
                          "type": "string"
                        },
                        "EmailAddress": {
                          "type": "string",
                          "nullable": true
                        },
                        "WorkPhoneNumber": {
                          "type": "string",
                          "nullable": true
                        },
                        "WorkCellPhoneNumber": {
                          "type": "string",
                          "nullable": true
                        },
                        "SourceSystemId": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "SourceSystemName": {
                          "maxLength": 50,
                          "type": "string",
                          "nullable": true
                        },
                        "StartDate": {
                          "type": "string",
                          "nullable": true
                        },
                        "EndDate": {
                          "type": "string",
                          "nullable": true
                        },
                        "CurrencyCode": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "UoMName": {
                          "maxLength": 255,
                          "type": "string"
                        },
                        "StraightTimeRate": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                          "type": "string",
                          "nullable": true,
                          "writeOnly": true
                        },
                        "OverTimeFactor": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "OverTimeRate": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                          "type": "string",
                          "nullable": true,
                          "writeOnly": true
                        },
                        "DoubleTimeFactor": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "DoubleTimeRate": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                          "type": "string",
                          "nullable": true,
                          "writeOnly": true
                        },
                        "UseBaseWageFactors": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "UnionSourceSystemId": {
                          "maxLength": 50,
                          "type": "string",
                          "nullable": true
                        },
                        "PrimaryCompany": {
                          "maxLength": 100,
                          "type": "string",
                          "nullable": true
                        },
                        "JobTitle": {
                          "maxLength": 100,
                          "type": "string",
                          "nullable": true
                        },
                        "UnionJobTitle": {
                          "maxLength": 100,
                          "type": "string",
                          "nullable": true
                        },
                        "SupervisorId": {
                          "maxLength": 200,
                          "type": "string",
                          "nullable": true
                        },
                        "CountryISOCode": {
                          "maxLength": 10,
                          "type": "string",
                          "nullable": true
                        },
                        "DefaultCostCenterSourceSystemId": {
                          "maxLength": 50,
                          "type": "string",
                          "nullable": true
                        },
                        "AdditionalPayrollInstructionCode": {
                          "maxLength": 100,
                          "type": "string",
                          "nullable": true
                        },
                        "IsOverrideAdditionalPayrollInstructionCodeAllowed": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "IsAvailableWeeklyTimeSheet": {
                          "type": "boolean",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "x-$.result for Successful": {
            "description": "Object returned at $.result from GET /direct/actions/{action_key_value} when $.status = \"Successful\"",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlation_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "app_log_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "Employees": {
                      "type": "array",
                      "items": {
                        "required": [
                          "SourceSystemId",
                          "CraftId",
                          "EmployeeId",
                          "FirstName",
                          "LastName",
                          "CanReportTime",
                          "CurrencyCode",
                          "UoMName"
                        ],
                        "type": "object",
                        "properties": {
                          "CraftId": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "VendorCode": {
                            "maxLength": 50,
                            "type": "string",
                            "nullable": true
                          },
                          "EmployeeId": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "FirstName": {
                            "maxLength": 100,
                            "type": "string"
                          },
                          "LastName": {
                            "maxLength": 100,
                            "type": "string"
                          },
                          "IsActive": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "EmployeePIN": {
                            "maxLength": 64,
                            "type": "string",
                            "nullable": true,
                            "writeOnly": true
                          },
                          "CanReportTime": {
                            "type": "boolean"
                          },
                          "Language": {
                            "type": "string"
                          },
                          "EmailAddress": {
                            "type": "string",
                            "nullable": true
                          },
                          "WorkPhoneNumber": {
                            "type": "string",
                            "nullable": true
                          },
                          "WorkCellPhoneNumber": {
                            "type": "string",
                            "nullable": true
                          },
                          "SourceSystemId": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "SourceSystemName": {
                            "maxLength": 50,
                            "type": "string",
                            "nullable": true
                          },
                          "StartDate": {
                            "type": "string",
                            "nullable": true
                          },
                          "EndDate": {
                            "type": "string",
                            "nullable": true
                          },
                          "CurrencyCode": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "UoMName": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "StraightTimeRate": {
                            "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                            "type": "string",
                            "nullable": true,
                            "writeOnly": true
                          },
                          "OverTimeFactor": {
                            "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                            "type": "string",
                            "nullable": true
                          },
                          "OverTimeRate": {
                            "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                            "type": "string",
                            "nullable": true,
                            "writeOnly": true
                          },
                          "DoubleTimeFactor": {
                            "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                            "type": "string",
                            "nullable": true
                          },
                          "DoubleTimeRate": {
                            "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,5})?$",
                            "type": "string",
                            "nullable": true,
                            "writeOnly": true
                          },
                          "UseBaseWageFactors": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "UnionSourceSystemId": {
                            "maxLength": 50,
                            "type": "string",
                            "nullable": true
                          },
                          "PrimaryCompany": {
                            "maxLength": 100,
                            "type": "string",
                            "nullable": true
                          },
                          "JobTitle": {
                            "maxLength": 100,
                            "type": "string",
                            "nullable": true
                          },
                          "UnionJobTitle": {
                            "maxLength": 100,
                            "type": "string",
                            "nullable": true
                          },
                          "SupervisorId": {
                            "maxLength": 200,
                            "type": "string",
                            "nullable": true
                          },
                          "CountryISOCode": {
                            "maxLength": 10,
                            "type": "string",
                            "nullable": true
                          },
                          "DefaultCostCenterSourceSystemId": {
                            "maxLength": 50,
                            "type": "string",
                            "nullable": true
                          },
                          "AdditionalPayrollInstructionCode": {
                            "maxLength": 100,
                            "type": "string",
                            "nullable": true
                          },
                          "IsOverrideAdditionalPayrollInstructionCodeAllowed": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "IsAvailableWeeklyTimeSheet": {
                            "type": "boolean",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "x-$.result for Failed": {
            "description": "Object returned at $.result from GET /direct/actions/{action_key_value} when $.status = \"Failed\"",
            "content": {
              "application/json": {
                "schema": {
                  "title": "The Root Schema",
                  "required": [
                    "errors"
                  ],
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "The Errors Schema",
                      "type": "object",
                      "properties": {
                        "HttpStatus": {
                          "title": "The Httpstatus Schema",
                          "type": "integer",
                          "default": 0
                        },
                        "Message": {
                          "title": "The Message Schema",
                          "type": "string",
                          "default": ""
                        },
                        "ErrorText": {
                          "title": "The ErrorText Schema",
                          "type": "string",
                          "default": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Gets all Projects objects from the cache.",
        "description": "InEight project data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "$ref": "#/components/parameters/limit_continuation"
          },
          {
            "$ref": "#/components/parameters/modifiedUTCSince"
          },
          {
            "$ref": "#/components/parameters/continuationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "limit",
                    "data",
                    "next",
                    "continuationToken"
                  ],
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/data_projects_withKeys"
                      }
                    },
                    "next": {
                      "type": "string"
                    },
                    "continuationToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/search": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Search through Projects objects in the data cache",
        "description": "InEight project data object.",
        "operationId": "POST /direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/search/search",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "modifiedUtcAfter": {
                    "maxLength": 28,
                    "minLength": 28,
                    "type": "string",
                    "description": "Returns objects that were modified after the specified date (ISO 8601 format).  Format: yyyy-MM-ddThh:mm:ss.fffffffZ.  Example '2019-12-11T20:16:58.3419275Z'.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set.",
                    "format": "date-time"
                  },
                  "modifiedUtcBefore": {
                    "maxLength": 28,
                    "minLength": 28,
                    "type": "string",
                    "description": "Returns objects that were modified before the specified date (ISO 8601 format).  Format: yyyy-MM-ddThh:mm:ss.fffffffZ.  Example '2019-12-11T20:16:58.3419275Z'.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set.",
                    "format": "date-time"
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Supplying this token will result in retrieving the next chunk of data if the first request contained more than 100 (up to) records or greater than 1 megabyte in size.  On your first call, you must omit or provide an empty string.  On subsequent calls, provide the continuationToken from the previous result."
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "integer",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "GreaterThan",
                                "GreaterThanOrEqual",
                                "LessThan",
                                "LessThanOrEqual",
                                "NotEqual"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "string",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "GreaterThan",
                                "GreaterThanOrEqual",
                                "LessThan",
                                "LessThanOrEqual",
                                "NotEqual",
                                "Like",
                                "EndsWith",
                                "StartsWith",
                                "Contains"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "boolean",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "NotEqual"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "description": " This oneOf option is to be used for null values for all data types.  You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "In"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        }
                      ]
                    },
                    "description": "All provided filters are combined with AND conditions. E.g. filter1 AND filter2 AND filter3.  Not providing a filter will result in an unfiltered result.  Filtering can be performed on nested object properties but can not be performed on array item properties.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/data_projects_withKeys"
                      }
                    },
                    "continuationToken": {
                      "type": "string",
                      "description": "Supply this token on the next request to get the next chunk of data. This will have a value if the result set contains more than 100 records or the set is greater than 1 megabyte."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/{ryvitId_value}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Gets one Projects object from the cache.",
        "description": "InEight project data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/{ryvitId_value}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "ryvitId_value",
            "in": "path",
            "description": "The code of the data object you want to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_projects_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/__ryvitId/{ryvitId_value}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Gets one Projects object from the cache.",
        "description": "InEight project data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/__ryvitId/{ryvitId_value}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "ryvitId_value",
            "in": "path",
            "description": "The code of the data object you want to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_projects_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/ProjectDisplayId/{ProjectDisplayId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Gets one Projects object from the cache.",
        "description": "InEight project data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/ProjectDisplayId/{ProjectDisplayId}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "ProjectDisplayId",
            "in": "path",
            "description": "The ProjectDisplayId portion of the key used to identify the object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_projects_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/SourceSystemId/{SourceSystemId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Gets one Projects object from the cache.",
        "description": "InEight project data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/cache/SourceSystemId/{SourceSystemId}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "SourceSystemId",
            "in": "path",
            "description": "The SourceSystemId portion of the key used to identify the object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_projects_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/actions/upsert": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Executes the Update or insert action for the Projects data object.",
        "description": "Add or update InEight projects.",
        "operationId": "POST /direct/subscribers/{subscriber_code}/ineight/app/1/data/projects/actions/upsert",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Projects": {
                    "type": "array",
                    "items": {
                      "required": [
                        "ProjectDisplayId",
                        "SourceSystemId",
                        "ProjectName",
                        "OrganizationSourceSystemId",
                        "BaseCurrency",
                        "TimeZone",
                        "ProjectStatusName"
                      ],
                      "type": "object",
                      "properties": {
                        "ProjectDisplayId": {
                          "maxLength": 200,
                          "type": "string"
                        },
                        "SourceSystemId": {
                          "maxLength": 200,
                          "type": "string"
                        },
                        "SourceSystemName": {
                          "maxLength": 50,
                          "type": "string",
                          "nullable": true
                        },
                        "ProjectName": {
                          "maxLength": 300,
                          "type": "string"
                        },
                        "OrganizationSourceSystemId": {
                          "maxLength": 300,
                          "type": "string"
                        },
                        "BaseCurrency": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "TimeZone": {
                          "maxLength": 100,
                          "type": "string"
                        },
                        "ProjectStatusName": {
                          "maxLength": 50,
                          "type": "string"
                        },
                        "StartDate": {
                          "maxLength": 25,
                          "type": "string",
                          "nullable": true
                        },
                        "EndDate": {
                          "maxLength": 25,
                          "type": "string",
                          "nullable": true
                        },
                        "City": {
                          "maxLength": 100,
                          "type": "string",
                          "nullable": true
                        },
                        "RegionISOCode": {
                          "maxLength": 10,
                          "type": "string",
                          "nullable": true
                        },
                        "CountryISOCode": {
                          "maxLength": 10,
                          "type": "string",
                          "nullable": true
                        },
                        "ZipCode": {
                          "maxLength": 10,
                          "type": "string",
                          "nullable": true
                        },
                        "Address1": {
                          "maxLength": 250,
                          "type": "string",
                          "nullable": true
                        },
                        "Address2": {
                          "maxLength": 250,
                          "type": "string",
                          "nullable": true
                        },
                        "Latitude": {
                          "type": "string",
                          "nullable": true
                        },
                        "Longitude": {
                          "type": "string",
                          "nullable": true
                        },
                        "Notes": {
                          "type": "string",
                          "nullable": true
                        },
                        "IsActive": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "OriginalContractAmount": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "ContractNumber": {
                          "maxLength": 50,
                          "type": "string",
                          "nullable": true
                        },
                        "DateProjectStarted": {
                          "maxLength": 25,
                          "type": "string",
                          "nullable": true
                        },
                        "ContractDate": {
                          "maxLength": 25,
                          "type": "string",
                          "nullable": true
                        },
                        "OriginalContractCompletionDate": {
                          "maxLength": 25,
                          "type": "string",
                          "nullable": true
                        },
                        "OriginalDuration": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "ForecastStartDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "ForecastCompletionDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "ForecastDuration": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "ForecastExtensionsReductions": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "ForecastRevisedDuration": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "ForecastRevisedCompletionDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "ContractExtensionsReductions": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "ContractRevisedDuration": {
                          "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                          "type": "string",
                          "nullable": true
                        },
                        "ContractRevisedCompletionDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "CertificateOfSubstantialCompletionExpectedDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "CertificateOfSubstantialCompletionAwardedDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "CertificateOfFinalCompletionExpectedDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "CertificateOfFinalCompletionAwardedDate": {
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "CompanyLegalName": {
                          "maxLength": 255,
                          "type": "string",
                          "description": "",
                          "nullable": true
                        },
                        "ProjectAttributes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "AttributeName": {
                                "type": "string",
                                "description": "",
                                "nullable": true
                              },
                              "AttributeSourceSystemId": {
                                "type": "string",
                                "description": "",
                                "nullable": true
                              },
                              "AttributeValue": {
                                "type": "string",
                                "description": "",
                                "nullable": true
                              }
                            }
                          }
                        },
                        "Markets": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      },
                      "additionalProperties": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "x-$.result for Successful": {
            "description": "Object returned at $.result from GET /direct/actions/{action_key_value} when $.status = \"Successful\"",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlation_id": {
                      "type": "string",
                      "nullable": true
                    },
                    "app_log_url": {
                      "type": "string",
                      "nullable": true
                    },
                    "Projects": {
                      "type": "array",
                      "items": {
                        "required": [
                          "SourceSystemId",
                          "ProjectDisplayId",
                          "ProjectName",
                          "OrganizationSourceSystemId",
                          "BaseCurrency",
                          "TimeZone",
                          "ProjectStatusName"
                        ],
                        "type": "object",
                        "properties": {
                          "ProjectDisplayId": {
                            "maxLength": 200,
                            "type": "string"
                          },
                          "SourceSystemId": {
                            "maxLength": 200,
                            "type": "string"
                          },
                          "SourceSystemName": {
                            "maxLength": 50,
                            "type": "string",
                            "nullable": true
                          },
                          "ProjectName": {
                            "maxLength": 300,
                            "type": "string"
                          },
                          "OrganizationSourceSystemId": {
                            "maxLength": 300,
                            "type": "string"
                          },
                          "BaseCurrency": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "TimeZone": {
                            "maxLength": 100,
                            "type": "string"
                          },
                          "ProjectStatusName": {
                            "maxLength": 50,
                            "type": "string"
                          },
                          "StartDate": {
                            "maxLength": 25,
                            "type": "string",
                            "nullable": true
                          },
                          "EndDate": {
                            "maxLength": 25,
                            "type": "string",
                            "nullable": true
                          },
                          "City": {
                            "maxLength": 100,
                            "type": "string",
                            "nullable": true
                          },
                          "RegionISOCode": {
                            "maxLength": 10,
                            "type": "string",
                            "nullable": true
                          },
                          "CountryISOCode": {
                            "maxLength": 10,
                            "type": "string",
                            "nullable": true
                          },
                          "ZipCode": {
                            "maxLength": 10,
                            "type": "string",
                            "nullable": true
                          },
                          "Address1": {
                            "maxLength": 250,
                            "type": "string",
                            "nullable": true
                          },
                          "Address2": {
                            "maxLength": 250,
                            "type": "string",
                            "nullable": true
                          },
                          "Latitude": {
                            "type": "string",
                            "nullable": true
                          },
                          "Longitude": {
                            "type": "string",
                            "nullable": true
                          },
                          "Notes": {
                            "type": "string",
                            "nullable": true
                          },
                          "IsActive": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "OriginalContractAmount": {
                            "pattern": "^[-+]?[0-9]{1,10}(?:.[0-9]{1,2})?$",
                            "type": "string",
                            "nullable": true
                          },
                          "ContractNumber": {
                            "maxLength": 50,
                            "type": "string",
                            "nullable": true
                          },
                          "DateProjectStarted": {
                            "maxLength": 25,
                            "type": "string",
                            "nullable": true
                          },
                          "ContractDate": {
                            "maxLength": 25,
                            "type": "string",
                            "nullable": true
                          },
                          "OriginalContractCompletionDate": {
                            "maxLength": 25,
                            "type": "string",
                            "nullable": true
                          },
                          "OriginalDuration": {
                            "type": "number",
                            "nullable": true
                          },
                          "ForecastStartDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ForecastCompletionDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ForecastDuration": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ForecastExtensionsReductions": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ForecastRevisedDuration": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ForecastRevisedCompletionDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ContractExtensionsReductions": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ContractRevisedDuration": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ContractRevisedCompletionDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "CertificateOfSubstantialCompletionExpectedDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "CertificateOfSubstantialCompletionAwardedDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "CertificateOfFinalCompletionExpectedDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "CertificateOfFinalCompletionAwardedDate": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "CompanyLegalName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "ProjectAttributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "AttributeName": {
                                  "type": "string",
                                  "description": "",
                                  "nullable": true
                                },
                                "AttributeSourceSystemId": {
                                  "type": "string",
                                  "description": "",
                                  "nullable": true
                                },
                                "AttributeValue": {
                                  "type": "string",
                                  "description": "",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "Markets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "x-$.result for Failed": {
            "description": "Object returned at $.result from GET /direct/actions/{action_key_value} when $.status = \"Failed\"",
            "content": {
              "application/json": {
                "schema": {
                  "title": "The Root Schema",
                  "required": [
                    "errors"
                  ],
                  "type": "object",
                  "properties": {
                    "errors": {
                      "title": "The Errors Schema",
                      "type": "object",
                      "properties": {
                        "HttpStatus": {
                          "title": "The Httpstatus Schema",
                          "type": "integer",
                          "default": 0
                        },
                        "Message": {
                          "title": "The Message Schema",
                          "type": "string",
                          "default": ""
                        },
                        "ErrorText": {
                          "title": "The ErrorText Schema",
                          "type": "string",
                          "default": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Gets all Equipment objects from the cache.",
        "description": "InEight equipment data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "$ref": "#/components/parameters/limit_continuation"
          },
          {
            "$ref": "#/components/parameters/modifiedUTCSince"
          },
          {
            "$ref": "#/components/parameters/continuationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "limit",
                    "data",
                    "next",
                    "continuationToken"
                  ],
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/data_equipment_withKeys"
                      }
                    },
                    "next": {
                      "type": "string"
                    },
                    "continuationToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/search": {
      "post": {
        "tags": [
          "Equipment"
        ],
        "summary": "Search through Equipment objects in the data cache",
        "description": "InEight equipment data object.",
        "operationId": "POST /direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/search/search",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "modifiedUtcAfter": {
                    "maxLength": 28,
                    "minLength": 28,
                    "type": "string",
                    "description": "Returns objects that were modified after the specified date (ISO 8601 format).  Format: yyyy-MM-ddThh:mm:ss.fffffffZ.  Example '2019-12-11T20:16:58.3419275Z'.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set.",
                    "format": "date-time"
                  },
                  "modifiedUtcBefore": {
                    "maxLength": 28,
                    "minLength": 28,
                    "type": "string",
                    "description": "Returns objects that were modified before the specified date (ISO 8601 format).  Format: yyyy-MM-ddThh:mm:ss.fffffffZ.  Example '2019-12-11T20:16:58.3419275Z'.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set.",
                    "format": "date-time"
                  },
                  "continuationToken": {
                    "type": "string",
                    "description": "Supplying this token will result in retrieving the next chunk of data if the first request contained more than 100 (up to) records or greater than 1 megabyte in size.  On your first call, you must omit or provide an empty string.  On subsequent calls, provide the continuationToken from the previous result."
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "integer",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "GreaterThan",
                                "GreaterThanOrEqual",
                                "LessThan",
                                "LessThanOrEqual",
                                "NotEqual"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "string",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "GreaterThan",
                                "GreaterThanOrEqual",
                                "LessThan",
                                "LessThanOrEqual",
                                "NotEqual",
                                "Like",
                                "EndsWith",
                                "StartsWith",
                                "Contains"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "boolean",
                              "description": "You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "Equal",
                                "NotEqual"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        },
                        {
                          "required": [
                            "propertyName",
                            "value",
                            "operator"
                          ],
                          "type": "object",
                          "properties": {
                            "propertyName": {
                              "type": "string",
                              "description": "Name of the property to apply the filter on. Nested properties are supported with a dot (.) delimiter.  E.g. 'PONumber' or 'Sender.LastName'."
                            },
                            "value": {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "description": " This oneOf option is to be used for null values for all data types.  You must match the JSON type value to the propertyName JSON type.  There is no type coercion."
                            },
                            "operator": {
                              "enum": [
                                "In"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false,
                          "description": ""
                        }
                      ]
                    },
                    "description": "All provided filters are combined with AND conditions. E.g. filter1 AND filter2 AND filter3.  Not providing a filter will result in an unfiltered result.  Filtering can be performed on nested object properties but can not be performed on array item properties.  If provided on the first call, the same value must be provided on all subsequent calls as you use the continuation token for the next result set."
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/data_equipment_withKeys"
                      }
                    },
                    "continuationToken": {
                      "type": "string",
                      "description": "Supply this token on the next request to get the next chunk of data. This will have a value if the result set contains more than 100 records or the set is greater than 1 megabyte."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/errorResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/{ryvitId_value}": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Gets one Equipment object from the cache.",
        "description": "InEight equipment data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/{ryvitId_value}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "ryvitId_value",
            "in": "path",
            "description": "The code of the data object you want to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_equipment_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/__ryvitId/{ryvitId_value}": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Gets one Equipment object from the cache.",
        "description": "InEight equipment data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/__ryvitId/{ryvitId_value}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "ryvitId_value",
            "in": "path",
            "description": "The code of the data object you want to get.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_equipment_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/SourceSystemId/{SourceSystemId}": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "summary": "Gets one Equipment object from the cache.",
        "description": "InEight equipment data object.",
        "operationId": "GET /direct/subscribers/{subscriber_code}/ineight/app/1/data/equipment/cache/SourceSystemId/{SourceSystemId}",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriber_code"
          },
          {
            "$ref": "#/components/parameters/X-Application-Key"
          },
          {
            "name": "SourceSystemId",
            "in": "path",
            "description": "The SourceSystemId portion of the key used to identify the object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/data_equipment_withKeys"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauth"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
[...]
