openapi: 3.0.2
info:
    title: Noel Example API
    description: |
        This example API includes a few endpoints to post and view data.
    contact:
        name: Noel Whelan
        email: noel_whelan@trimble.com
        url: https://trimble.cloud
    version: v1
    license:
        name: Creative Commons Attribution 4.0 International License (CC BY 4.0)
        url: https://creativecommons.org/licenses/by/4.0/
externalDocs:
    description: External Documentation
    url: https://noel-tw.github.io
servers:
  - url: https://cloud.api.trimble.com/cloud/noel/v1
    description: prod
  - url: https://cloud.qa.api.trimblecloud.com/cloud/noel/v1
    description: qa
  - url: https://cloud.dev.api.trimblecloud.com/cloud/noel/v1
    description: dev
  - url: http://localhost:{port}/api/v1
    description: local
    variables:
        port:
            enum:
              - "10000"
              - "11000"
            default: "10000"
paths:
    /path/to/endpoint:
        get:
            operationId: path-to-endpoint.get
            summary: View a data object
            description: This endpoint yields a few properties in a JSON data object.
            tags:
              - Endpoints
            security:
              - Token: []
            parameters:
              - name: key
                in: query
                description: |
                    Include a ?key=value pair in the URL query.
                    The name of the parameter is not important.
                required: false
                allowEmptyValue: true
                schema:
                    type: string
                    example: value
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/data"
                            examples:
                                object:
                                    summary: The data object yielded by this endpoint.
                                    value:
                                        id: 1zvfTtYjTo9.
                                        date: 2022-08-21T06:00:00+00:00
                                        env: local
                                        name: ಠ_ృ
                                        query:
                                            key: value
                                        time: 1661061600
            externalDocs:
                description: External Documentation
                url: https://noel-tw.github.io
    /data:
        post:
            operationId: data.post
            summary: Input a data entity
            description: |
                In the JSON POST body, include a data object.
                This endpoint will provide a UUID back to the client.
            tags:
              - Endpoints
            security:
              - Token: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            description: Provide a data object with any properties the entity ought to include.
                            properties:
                                data:
                                    type: object
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    uuid:
                                        type: string
                                        format: uuid
                                        example: ebee71c9-87d1-47f4-a1c0-c1a781f94981
                "400":
                    description: Input data not provided.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                                        example: "Input data not provided."
            externalDocs:
                description: External Documentation
                url: https://noel-tw.github.io
components:
    schemas:
        data:
            type: object
            description: JSON data object yielded by this endpoint.
            properties:
                id:
                    type: string
                date:
                    type: string
                    format: ISO 8601
                env:
                    type: string
                name:
                    type: string
                query:
                    type: object
                time:
                    type: integer
    securitySchemes:
        Token:
            type: http
            description: |
                In order to use the example API, provide a JWT Bearer token in the header.
            scheme: bearer
            bearerFormat: JWT
tags:
  - name: Introduction
    description: |
        The Example API was developed for testing provider workflow,
        documentation, and proxy or gateway enhancements in the console.
  - name: Endpoints
    description: The API includes endpoints to GET and POST data.
